%div.container
  %div.page-header
    %h1 掉落统计
  %div.col-xs-12.col-md-6
    %div.panel-group
      %div.panel.panel-primary
        %div.panel-heading
          %h4.panel-title 海域
        %div.panel-body
          %ul.nav.nav-pills
            %li
              %a{:href => "#area1", :"data-toggle" => "tab"} 鎮守府海域
            %li
              %a{:href => "#area2", :"data-toggle" => "tab"} 南西諸島海域
            %li
              %a{:href => "#area3", :"data-toggle" => "tab"} 北方海域
            %li
              %a{:href => "#area7", :"data-toggle" => "tab"} 南西海域
            %li
              %a{:href => "#area4", :"data-toggle" => "tab"} 西方海域
            %li
              %a{:href => "#area5", :"data-toggle" => "tab"} 南方海域
            %li
              %a{:href => "#area6", :"data-toggle" => "tab"} 中部海域
            %li
              %a{:href => "#area52", :"data-toggle" => "tab"} 帰ってきた鎮守府秋刀魚祭り
            %li
              %a{:href => "#area53", :"data-toggle" => "tab"} 発令！「捷三号作戦警戒」
            %li
              %a{:href => "#area54", :"data-toggle" => "tab"} 激闘！R方面作戦
            %li.active
              %a{:href => "#area55", :"data-toggle" => "tab"} 激闘！R方面作戦大規模反攻上陸！トーチ作戦！
          %div.tab-content.top15
            %div#area1.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/11"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD1-1.png"), :alt => "MapBannerHD1-1.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/12"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBannerHD1-2.png"), :alt => "MapBannerHD1-2.png"}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/13"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD1-3.png"), :alt => "MapBannerHD1-3.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/14"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBannerHD1-4.png"), :alt => "MapBannerHD1-4.png"}
                %div.row
                  %a{:href => "/drop/map/15"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHD1-5.png"), :alt => "MapBannerHD1-5.png"}
                %div.row
                  %a{:href => "/drop/map/16"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHD1-6.png"), :alt => "MapBannerHD1-6.png"}
            %div#area2.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/21"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD2-1.png"), :alt => "MapBannerHD2-1.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/22"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBannerHD2-2.png"), :alt => "MapBannerHD2-2.png"}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/23"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD2-3.png"), :alt => "MapBannerHD2-3.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/24"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBannerHD2-4.png"), :alt => "MapBannerHD2-4.png"}
                %div.row
                  %a{:href => "/drop/map/25"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHD2-5.png"), :alt => "MapBannerHD2-5.png"}
            %div#area3.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/31"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD3-1.png"), :alt => "MapBannerHD3-1.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/32"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBannerHD3-2.png"), :alt => "MapBannerHD3-2.png"}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/33"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD3-3.png"), :alt => "MapBannerHD3-3.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/34"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBannerHD3-4.png"), :alt => "MapBannerHD3-4.png"}
                %div.row
                  %a{:href => "/drop/map/35"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHD3-5.png"), :alt => "MapBannerHD3-5.png"}
            %div#area4.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/41"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD4-1.png"), :alt => "MapBannerHD4-1.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/42"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBannerHD4-2.png"), :alt => "MapBannerHD4-2.png"}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/43"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD4-3.png"), :alt => "MapBannerHD4-3.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/44"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBannerHD4-4.png"), :alt => "MapBannerHD4-4.png"}
                %div.row
                  %a{:href => "/drop/map/45"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHD4-5.png"), :alt => "MapBannerHD4-5.png"}
            %div#area5.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/51"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD5-1.png"), :alt => "MapBannerHD5-1.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/52"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBannerHD5-2.png"), :alt => "MapBannerHD5-2.png"}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/53"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD5-3.png"), :alt => "MapBannerHD5-3.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/54"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBannerHD5-4.png"), :alt => "MapBannerHD5-4.png"}
                %div.row
                  %a{:href => "/drop/map/55"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHD5-5.png"), :alt => "MapBannerHD5-5.png"}
            %div#area6.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/61"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD6-1.png"), :alt => "MapBannerHD6-1.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/62"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBannerHD6-2.png"), :alt => "MapBannerHD6-2.png"}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/63"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD6-3.png"), :alt => "MapBannerHD6-3.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/64"}
                      %img.img-responsive.block-left{:src => kcwiki_get_file("MapBannerHD6-4.png"), :alt => "MapBannerHD6-4.png"}
                %div.row
                  %a{:href => "/drop/map/65"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHD6-5.png"), :alt => "MapBannerHD6-5.png"}
            %div#area7.tab-pane
              %div.col-xs-12
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/71"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD7-1.png"), :alt => "MapBannerHD7-1.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/72"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD7-2.png"), :alt => "MapBannerHD7-2.png"}
                %div.row
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/73"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD7-3.png"), :alt => "MapBannerHD7-3.png"}
                  %div.col-xs-6.col-no-padding
                    %a{:href => "/drop/map/74"}
                      %img.img-responsive.block-right{:src => kcwiki_get_file("MapBannerHD7-4.png"), :alt => "MapBannerHD7-4.png"}
            %div#area52.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/521/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-1Autumn2021.png"), :alt => "MapBannerHDE-1Autumn2021.png"}
                  %a{:href => "/drop/map/522/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-2Autumn2021.png"), :alt => "MapBannerHDE-2Autumn2021.png"}
                  %a{:href => "/drop/map/523/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-3Autumn2021.png"), :alt => "MapBannerHDE-3Autumn2021.png"}
            %div#area53.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/531/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-1Winter2022.png"), :alt => "MapBannerHDE-1Winter2022.png"}
                  %a{:href => "/drop/map/532/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-2Winter2022.png"), :alt => "MapBannerHDE-2Winter2022.png"}
                  %a{:href => "/drop/map/533/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-3Winter2022.png"), :alt => "MapBannerHDE-3Winter2022.png"}
                  %a{:href => "/drop/map/534/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-4Winter2022.png"), :alt => "MapBannerHDE-4Winter2022.png"}
                  %a{:href => "/drop/map/535/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-5Winter2022.png"), :alt => "MapBannerHDE-5Winter2022.png"}
            %div#area54.tab-pane
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/541/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-1Spring2022.png"), :alt => "MapBannerHDE-1Spring2022.png"}
                  %a{:href => "/drop/map/542/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-2Spring2022.png"), :alt => "MapBannerHDE-2Spring2022.png"}
                  %a{:href => "/drop/map/543/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-3Spring2022.png"), :alt => "MapBannerHDE-3Spring2022.png"}
                  %a{:href => "/drop/map/544/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-4Spring2022.png"), :alt => "MapBannerHDE-4Spring2022.png"}
                  %a{:href => "/drop/map/545/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-5Spring2022.png"), :alt => "MapBannerHDE-5Spring2022.png"}
            %div#area55.tab-pane.active
              %div.col-xs-12
                %div.row
                  %a{:href => "/drop/map/551/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-1Summer2022.png"), :alt => "MapBannerHDE-1Summer2022.png"}
                  %a{:href => "/drop/map/552/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-2Summer2022.png"), :alt => "MapBannerHDE-2Summer2022.png"}
                  %a{:href => "/drop/map/553/"}
                    %img.img-responsive.block-center{:src => kcwiki_get_file("MapBannerHDE-3Summer2022.png"), :alt => "MapBannerHDE-3Summer2022.png"}
  %div.col-xs-12.col-md-6
    %div.panel-group
      %div.panel.panel-primary
        %div.panel-heading
          %h4.panel-title 舰娘
        %div.panel-body
          - ship_list = JSON.parse(Sinatra::KVDataHelper.get_kv_data("drop_shiplist")).map{|s| ConstData.ship[s]}
          %ul.nav.nav-pills
            %li
              %a{:href => "#dd", :"data-toggle" => "tab"} 驱逐
            %li
              %a{:href => "#cl", :"data-toggle" => "tab"} 轻巡、练巡
            %li
              %a{:href => "#ca", :"data-toggle" => "tab"} 重巡
            %li
              %a{:href => "#bb", :"data-toggle" => "tab"} 战舰
            %li
              %a{:href => "#cvl", :"data-toggle" => "tab"} 轻母
            %li
              %a{:href => "#cv", :"data-toggle" => "tab"} 空母
            %li
              %a{:href => "#ss", :"data-toggle" => "tab"} 潜水舰
            %li
              %a{:href => "#others", :"data-toggle" => "tab"} 其他
            %li.active
              %a{:href => "#new", :"data-toggle" => "tab"} 新实装、活动限定
          %div.tab-content.top15
            %div#dd.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 2}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#cl.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 3 || s["stype"] == 21}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#ca.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 5}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#bb.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 8 || s["stype"] == 9}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#cvl.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 7}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#cv.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 11}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#ss.tab-pane
              %ul.list-inline
                - ship_list.select{|s| s["stype"] == 13 || s["stype"] == 14}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#others.tab-pane
              %ul.list-inline
                - ship_list.select{|s| ![(2..14).to_a, 18, 21].flatten.include?(s["stype"])}.group_by{|s| s["ctype"]}.each do |grp, ships|
                  - ships.sort{|a, b| a["wiki_id"] <=> b["wiki_id"]}.each do |s|
                    %li
                      %p
                        %a.btn.btn-default{:href => "/drop/ship/#{s["id"]}/"}= s["name"]
            %div#new.tab-pane.active
              %ul.list-inline
                - [].each do |s|
                  - ship = ConstData.ship[s]
                  %li
                    %p
                      %a.btn.btn-default{:href => "/drop/ship/#{ship["id"]}"}= ship["name"]